$white-color: #ffffff;
$site-green: #6CBE45;
$bg-green: #70f8c6;
$site-yellow: #FFCF01;
// Grey Colors
$grey-color: #f1f4f9;
$grey-border: #d7dce3;

$light-green: #e2f6d9;
$dark-green: #42921c;
$menu-li: #24590b;
$grey-2: #6b6e6a;
$dark-blue: #061e43;
$sky-blue: #2494e4;
$purple: #9b51e0;
$red: #ff2e2e;
$blue-shade: #f4f7fb;
$para: #39557e;
$black: #000000;
$content-blue: #082a5e;
$info-text: #637698;
$footer-bg: #0b1427;
$footer-text: #bfbfbf;
$light-grey: #b2bdcd;
$bg-breadcrums: #041734;
$box-shade: #f2f4f9;
$link: #3270fc;
